<h1>IncludedDeck#Show</h1>
<span data-deck-id="<%= @included_deck.id %>"></span>
<%= @included_deck.title %>

<%= javascript_include_tag "deck_ajax.js" %>
<%= javascript_include_tag "phaser.js" %>
<%= javascript_include_tag "carddeck.js" %>
<%= javascript_include_tag "game.js" %>
<%= javascript_include_tag "state_capital_deck.js" %>
<%= javascript_include_tag "game_ui.js" %>
<%= javascript_include_tag "flashcard_ui.js" %>
<%= javascript_include_tag "lifecycle_preload.js" %>
<%= javascript_include_tag "lifecycle_create.js" %>
<%= javascript_include_tag "lifecycle_update.js" %>
<%= javascript_include_tag "lifecycle_render.js" %>
<%= javascript_include_tag "overall_ui.js" %>

